# vim: sts=2 ts=2 sw=2 et ai
{% set java_include_map = {
  '5.8.1':  'atlassian.java.jre',
  '5.9.4':  'atlassian.java.jre',
  '5.10.3': 'atlassian.java.oracle',
  }
%}
{% set java_require_map = {
  '5.8.1':  'openjre',
  '5.9.4':  'openjre',
  '5.10.3': 'oracle-java',
  }
%}
